@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

img.big{
  opacity:0.95;
  width: 100%;
  height: 70%;
    filter: blur(3px);
  -webkit-filter: blur(3px);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bigtext{
position: absolute;
font-size: 300%;
color: white;
text-align: center;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  border: 3px solid #f1f1f1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.infoTable{
padding-top: 2%;
  background: white;
  width: 100%;
  height: 400px;
}
.textcenter3{
  padding-top: 2%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 115%;
    font-weight: bold;
  text-align: center;
}
.textcenter4{
    font-family: 'Fira Sans', sans-serif;
    font-size: 90%;
    color: grey;
    font-weight: bold;
  text-align: center;
}
.textcenter1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 130%;
    font-weight: bold;
  text-align: center;
}
.textcenter2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 125%;
    font-weight: bold;
  text-align: center;
}
.textcenter{
    font-family: 'Fira Sans', sans-serif;
    font-size: 300%;
    font-weight: bold;
  text-align: center;
}
.firaplain{
      font-family: 'Fira Sans', sans-serif;
      font-size: 120%;
}
.fira{
      font-family: 'Fira Sans', sans-serif;
      font-size: 220%;
      font-weight: bold;
}
.shift{
  margin-top:2%;
  text-align: center;
}
.space{
  margin-bottom: 4%;
  color: #8CBE3F;
}
.space1{
  margin-bottom: 4%;
  color: #af314e;
}
.space2{
  margin-bottom: 4%;
  color: #F8992D;
}
.titleBar{
background: #af314e;
height: 140px;
width: 100%;
color: white;
padding-left: 5%;
padding-top: 2%;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.images{
  opacity: 0.7;
  height: 85%;
  width: 100%;
  -o-transition:.7s;
-ms-transition:.7s;
-moz-transition:.7s;
-webkit-transition:.7s;
transition: .7s;
border: white solid 1px;
}
.images:hover{

  opacity: 1;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.sectionG{
  box-shadow: 0 -5px 5px -5px #333;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  z-index: 0;
  height: 540px;
  width: 100%;
  background:#8CBE3F;
}
.sectionB{
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  z-index: 0;
  height: 540px;
  width: 100%;
  background:#af314e;
}

.sectionO{
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  z-index: 0;
  height: 540px;
  width: 100%;
  background:#F8992D;
}

.box{
  padding-top: 2%;
  background: white;
  border-radius: 20px;
  border: black solid 1px;
}

.center{
  text-align:center;
  background: #8CBE3F;
  width: 17%;
  font-size: 400%;
  color: white;
  position: absolute;
   z-index: 1;
  top:1500px;
  left: 7%;
  border-radius: 10px;
  padding-bottom: 0.5%;
    font-weight: bold;
        font-family: 'Fira Sans', sans-serif;
        border:white solid 2px;

}
.center1{
  text-align:center;
  background: #af314e;
  width: 17%;
  font-size: 400%;
  color: white;
  z-index: 1;
  position: absolute;
  top:1450px;
  left: 42%;
  border-radius: 10px;
  padding-bottom: 0.5%;
    font-weight: bold;
        font-family: 'Fira Sans', sans-serif;
                border:white solid 2px;


}
.center2{
  text-align:center;
  background: #F8992D;
  width: 17%;
  font-size: 400%;
  color: white;
  z-index: 1;
 position: absolute;
  top:1500px;
  left: 76%;
  border-radius: 10px;
  padding-bottom: 0.5%;
  font-weight: bold;
        font-family: 'Fira Sans', sans-serif;
                border:white solid 2px;


}

.end{
  font-family: 'Fira Sans', sans-serif;
  color: white;
  background: black;
  height: 200px;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

.arrow{
  position: absolute;
  z-index: 999999;
}
.firaCart{
          font-family: 'Fira Sans', sans-serif;
          color: white;
          font-weight: bold;
          font-size: 325%;
          padding-bottom: 2%;
          text-align: center;
          padding-top: 3%;
}

.slick-prev {
  color: black;
  top:60% !important;
  left: -8% !important;
  z-index: 1;
}
.slick-next {
  color: black;
  top:60% !important;
  right: -8% !important;
  z-index: 1;
}

.groceries{
  display: block;
  margin-left: auto;
  margin-right: auto;
   max-width: 80%;
  height:200px;
}

.groceries1{
  display: block;
   margin-left: auto;
  margin-right: auto;
  width: 40%;
  height:200px;
}
.groceries2{
  display: block;
   margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:200px;
}
.groceries3{
  display: block;
   margin-left: auto;
  margin-right: auto;
  width: 80%;
  height:200px;
}

.cart{
  margin-left: 35%;
  margin-bottom: 5%;
}

